.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 2px 7px;
  height: 35px;
  border: 1px solid #bc9555;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  animation-name: scroll;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.45, 1.1, 0.59, 1.24);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
